---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  "base"
;

body > header.alumni {
  font-size: 20px;
  // background: #a3daff;
  color: #222;

  h1 {
    font-size: 3.2em;
    font-family: 'Space Mono', monospace;
    // font-weight: bolder;
  }

  h2 {
    font-size: 1em;
    font-size: .9em;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: 'Space Mono', monospace;
  }

}