---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "support",
  "syntax-highlighting"
;

$blue: #4b8bcc; // #426bba;
$color-tag: #F3753A; // #4A9BFF;

.close-btn {
	cursor: pointer;
	vertical-align: middle;
	text-align: center;

	&:after {
		display: inline-block;
		content: "\00d7"; /* This will render the 'X' */
	}

	&:hover {
		color: #000;
	}
}

.container {
	max-width: 960px;
}

#ml-popover {
	p {
		line-height: 2;
	}
	li {
		line-height: 2;
	}
}

body > header {
	position: relative;
	color: white;
	padding: 70px 60px; 
  font-family: "Roboto";
	font-size: 25px;

	.title-wrapper {
		color: #222;

		h1 {
			font-size: 3.2em;
			font-family: 'Space Mono', monospace;
			font-weight: bolder;
      margin-bottom: 30px;

			a {
				text-decoration: none;
        &:hover {
          color: #F68657;
          color: #000;
          @include transition(.1s);
        }
			}

      @-webkit-keyframes blink {
        from, to { opacity: 1 }
        50% { opacity: 0 }
      }

      @-moz-keyframes blink {
        from, to { opacity: 1 }
        50% { opacity: 0 }
      }

      .cursor {
        width: 40px;
        margin-left: 10px;
        display: inline-block;
        height: .9em;
        background: #FBFFB9;
        background: #F6F6F6;
        vertical-align: bottom;

        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
      }
		}

		h2 {
			font-size: .9em;
			line-height: 1.5;
			margin-bottom: 30px;
			font-family: 'Space Mono', monospace;
		}

		a {
			text-decoration: underline;
			color: inherit;
		}
	}

	p, form {
    font-size: 18px;
  }

  .and {
    display: inline-block;
  }

  input.email, .join-ml, .and {
    vertical-align: middle;
    margin-bottom: 10px;
  }

  input.email, .join-ml {
    background: white;

    border: 3px solid #EEE;
    line-height: 2.7em;
    font-size: .95em;
    padding: 0 12px;
    @include transition(.4s);
    outline: none !important;
    box-shadow: none !important;

    z-index: 10;

    font-family: 'Roboto';
    font-weight: bold;
  }

  input.email {
    box-shadow: none;
    width: 200px;

    &:focus {
      border-color: #DDD;

    }
  }

  input.hidden {
    position: absolute; left: -5000px;
  }

	.join-ml {
		text-align: center;
		border-radius: 0;
		color: #444;
		text-transform: uppercase;
		padding: 0 10px;
		border: 3px solid #EEE;
		margin-right: 6px;
    cursor: pointer;
    letter-spacing: 1px;
		text-decoration: none !important;

		&:hover, &:focus {
			border-color: #FDD692;
      border-color: #F68657;
      border-color: #DDD;
      border-color: #a3daff;
		}

		&:active {
			box-shadow: none;
		}
	}
}


.page-popover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background: white;

  .container {
    padding: 20px;
    height: 300px;
    display: table;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;

    font: 400 15px "Roboto";
    text-align: left;

    p {
      font-family: "Roboto";
    }
    
    .close-btn {
      position: absolute;
      right: 30px;
      top: 20px;
      color: #555;
      // font-weight: bold;
      font-size: 30px;
      width: 40px;
      height: 40px;
      line-height: 38px;
      border-radius: 40px;
      
      &:hover {
        background: #EEE;
      }
    }

    .row {
      margin-bottom: 20px;
    }
     
    ul.inline-list {
      margin-left: 0;
      margin-bottom: -4px;
      
      li {
        display: inline-block;
        font-size: 15px;
      }
    }
  }
}

body > .notice {
  position: relative;
  top: 0;
  width: 100%;
  padding: 15px 60px;

  background: #f0f5f9;
  color: #1e2022;
  font-size: 13px;

  &.left .content {
    text-align: right;
  }

  &.info {
    background: #a3daff;
    color: #454552;
  }

  &.green {
    background: #cff09e;
    color: #3b8686;
  }

  &.deadline {
    background: #E26A6A;
    color: #96281B;
  }

  &.abc {
    background: #ffcdd2;
    color: #e53935;
  }

  &.news {
    background: #FDD692;
    color: #e06447;
  }

  .content {
    text-align: center;
    text-align: left;
    font-family: "Roboto";
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: .8px;

    a {
      vertical-align: middle;
      color: inherit;
      border-bottom: 1px dashed fade-out(white, .3);
      @include transition(.2s);
      text-decoration: none;

      &:hover {
        border-bottom: 1px dashed fade-out(#666, .1);
      }
    }
  }

  .close-btn {
    color: white;
    display: inline-block;
    display: none;
    font-size: 19px;
    vertical-align: middle;
  }
}

body > section.notice {
  border-top: 0;
  padding: 40px 60px;
  font-size: 20px;
}

body > section.notice + section,
body > section.notice + footer {
  border-top: 0;
}

body > section {
	padding: 70px 60px 60px;
  border-top: 3px solid #EEE;
	font-size: 15px;

	header {
		color: #666;
    padding: 0;
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 14px;

    a {
      text-decoration: none !important;
      color: #000;
      border-bottom: 1px solid transparent;
      @include transition(.2s);

      &:hover {
        border-bottom: 1px solid #CCC;
      }

      &:visited {
        color: #000;
      }
    }

    mark {
      background: transparent;
      padding: 0;
      margin-right: 10px;
      &:before {
        content: "#";
        color: #BBB;
        @include transition(.2s);
        &:hover {
          color: #AAA;
        }
      }
    }

    h1:hover mark:before {
      color: #AAA;
    }

		h1 {
			font-size: 1.5em;
      color: #333;
			font-weight: bold;
		}

		h2 {
			font-weight: 300;
			font-size: 1.2em;
      color: #666;
      margin-top: 1em;
		}
	}

  & > section {
		padding: .1px;
    margin-left: 20px;

    header h1 {
      color: #444;
      font-size: 1.4em;
    }

    header h2 {
      font-size: 1.1em;
      font-weight: 300;
    }
  }

  & > section:not(:last-of-type) {
    margin-bottom: 4em;    
  }

  & > section:first-of-type {
    margin-top: 2.5em;
  }

  .info {
    padding-top: 10px;
    text-align: left;
    font: 400 14px "Roboto Mono";

    & > div { margin-bottom: 5px; }

    h1 {
      font-size: 1em;
      margin-bottom: .5em;
      color: #111;

      small {
        font-size: inherit;
        opacity: .4;
      }
    }

    h2 {
      margin-bottom: .5em;
      font-size: .9em;
      font-weight: 300;
      color: #666;
      line-height: 1.5;
    }

    p {
      font-size: .9em;
      font-family: "Roboto";
      font-weight: 300;
      color: #888;
      line-height: 1.5;
    }
  }
}


ul.events {
  margin-top: 2.6em;

  .date {
    h1 {
      font-family: "Roboto Mono";
      color: #888;
      font-size: 1.1em;
      font-weight: 300;
			margin-bottom: 0;
    }

    margin-bottom: 2em;
  }

	.event:not(:last-child) {
    margin-bottom: 2.7em;
	}

  .event {
    max-width: 900px;
    position: relative;

    .image {
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 100px;
      }
    }

    .content {
      padding-left: 100px;
      font-family: Roboto;

      a {
        color: #333;
        border-bottom: 1px dashed #DDD;
        @include transition(.1s);

        &:hover {
          text-decoration: none;
          //color: #1976d2;
          border-bottom: 1px dashed #1976d2;
          border-bottom-color: #888;
        }
      }

			h1, h2, h3 {
				line-height: 1.5;
			}

      h1 {
        margin-bottom: .2em;
        font-size: 1.4em;
        font-weight: 300;
        color: #555;

        strong { color: #000; }

        .origin {
          display: inline-block;
          color: #F4B350;
          margin-left: 5px;
          font-size: .7em;

          strong {
            text-transform: uppercase;
            color: inherit; 
          }

          &.blue {
          }
        }
      }

      h2 {
        font-size: 1.1em;
        margin-bottom: .5em;
        font-weight: 300;
        color: #333;

        strong { font-weight: 400; }
      }

      h3 {
        font-family: "Roboto Mono";
        font-size: 1.0em;
        color: #333;
        font-weight: 300;
      }
    }
  }
}

ul.sponsors {
  header {
    margin-bottom: 20px;
  }

  .sponsor {
    margin-top: 40px;
    display: inline-block;
    margin-right: 30px;

    img {
      height: 90px;
      aborder-radius: 40px;

      @include transition(.5s);

      &:not(:hover) {
        // @include filter(grayscale, 100%);
      }
    }
  }

  .facebook img { height: 80px; }
  .google img { height: 70px; }
}

.projects {
  list-style: none;
  margin: 0;
}

ul.projects .project {
  $width: 280px;
  $height: $width/2;
  width: $width;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;

  a {
    text-decoration: none !important;
  }

  .figure {
    height: $height;
    width: $width;
    text-align: center;
    overflow: hidden;
    background: #BBB;
    user-select: none;

    span {
      font-family: Arial;
      line-height: $height;
      color: white;
      font-weight: normal;
      white-space: nowrap;
      font-size: 50px;
    }
  }

  .ainfo {
    height: 80px;
    padding: 10px;
    background: #f3f3f3;
  }
  
  &.makers .figure {
    background: #cddc39;
  }

  &.clubs .figure {
    background: #03a9f4;
    text-align: right;
    span {
      font-size: 90px;
      font-family: Roboto;
    }
  }

  &.bdgate .figure {
    background: #E53A40;
    text-align: center;
    span {
      font-size: 60px;
      font-family: serif;
      line-height: 200px;
    }
  }
}

ul.people {
  list-style: none;
  margin: 40px 0 -40px;

  $picdim: 120px;

  & > .member {
    width: $picdim+50;
    height: $picdim+70;
		margin-bottom: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    font-family: "museo-sans";

    .info {
      padding-top: 20px;
      font-size: 14px;
      text-align: center;
    }

    h2.board {
      font-weight: bold;
    }

    .picture img {
      width: $picdim;
      height: $picdim;
      cursor: pointer;
      border-radius: 200px;

      @include transition(.5s);

      &:not(:hover) {
        // @include filter(grayscale, 100%);
      }
    }
  }
}

footer {
  display: table;
  width: 100%;
	padding: 60px;
  font-family: Roboto;
  font-size: 13px;
  border-top: 3px solid #EEE;
  font-family: "Space Mono";

  .bio {
    color: #444;
    line-height: 1.8;
  }
}

@include media-query($on-laptop) {
	$spacing-unit: 30px;

	body > header {
		font-size: 15px;
		padding: $spacing-unit;

		p {
			font-size: 15px;
		}
	}

	body > .notice {
		padding: $spacing-unit/2 $spacing-unit/2;
	}

	footer {
		padding: $spacing-unit $spacing-unit*2/3-15;
	}

	body > section,
	body > section.notice {
		padding: $spacing-unit $spacing-unit*2/3;
		
		& > header {
			font-size: 12px;
		}
	}

	section ul.people {
		margin-bottom: -20px;

		.member {
			margin-bottom: 20px;
			width: 110px;
			height: 160px;
		}

		.member .info {
			font-size: 13px;
		}

		.member .picture img {
			width: 90px;
			height: 90px;
		}
		
	}

	section ul.events {
		font-size: 13px;

		.event .content h1 .origin {
			display: block;
			margin: 0;
		}
		
		.event .content {
			padding-left: 80px;
		}

		.event .image img {
			width: 60px;
			height: 60px;
		}
	}

	body > section > ul,
	body > section > section > ul {
		margin-left: 0;
	}

	body > section > section {
		margin-left: 10px;
	}
}

