---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  "base",
  "markdown",
  "smartnav"
;

$fontTitle1: 'Space Mono', monospace;
$fontTitle2: 'Roboto Mono', monospace;
$fontText: 'Helvetica Nesue', 'Roboto', monospace; // -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body > header {
	color: #222;
	font-size: 15px;

	h1,
	h2,
	h3 {
		a,
		a:hover,
		a:visited {
			color: inherit;
			text-decoration: none;
			@include transition(.1s);
		}
	}

	h1 {
		font-family: $logoFont;
		font-size: 3em;
		margin-bottom: 30px;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.5;
		margin-bottom: 30px;
		font-family: 'Space Mono', monospace;
	}
}

.PlaybookIntro {
  background: $ycsorange;
  color: white;

  h1 {
    font-size: 25px;
    color: white;
  }

  p {
    font-weight: 300;
    max-width: 1000px;
    font-size: 20px;
    line-height: 1.8;
    color: white;
    margin-top: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid rgba(255,255,255,.5);

    &:hover {
      border-bottom: 2px solid #FFF;
    }
  }
}

.TableOfContents {
  font-size: 19px;

  ul.TableOfContents_Sections {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .TableOfContents_Section {
    margin-bottom: 2em;

    & > h1 {
      color: #444;
      font-family: $fontTitle2;
      font-size: 1.1em;
      margin-bottom: 1em;
    }

    ul li {
      font-weight: 500;
      font-family: $fontText;
      margin-bottom: 1em;
    }

    ul {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        border-bottom: 2px solid rgba(0,0,0,.1);
      }
      a:hover {
        border-bottom: 2px solid #444;
      }
    }
  }
}

body > section {
  & > header {
    font-family: $fontTitle1;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 35px;
    a {
      color: #222;
    }
  }
}

.PlaybookSectionHeader {
  background-color: #EEE;

  h1 {
    font-size: 30px;
    font-family: $fontTitle1;
    font-weight: 800;
    text-transform: uppercase;
  }

  a {
    color: #222;
    text-decoration: none;
  }
}

.PlaybookPage:nth-child(2n) {
  background-color: #F7F7F7;
}

.PlaybookPage > .markdown-body {
  max-width: 800px;

  p, li {
    font-size: 18px;
  }

  table {
    font-family: $fontTitle2;
    font-size: 16px;
  }

  p, blockquote, ul, ol, dl, table, pre {
    font-weight: 400;
    line-height: 2.3;
    margin-top: 0;
    margin-bottom: 1em;
    color: #222;
  }
  li {
    margin-bottom: 0;
  }
  li > p {
    margin-bottom: 1em;
  }
  ul {
    margin-bottom: 2em;
  }
  li ul {
    margin-bottom: .5em;
    margin-top: .5em !important;
    padding: 0; // to reset margin
  }
  li ul p {
    margin-bottom: .5em;
  }
  & > p + ul,
  & > p + ol {
    margin-top: -1.5em;
  }

  strong {
    background-color: rgba(163,218,255, .8);
    font-weight: 400;
    padding: 0 2px;
  }

  strong a, a strong {
    // background-color: #FDD692;
    font-weight: 800;
    color: #444;
    padding: 0 4px;
    border-bottom: 2px solid #444;
    text-decoration: none;
  }

  // Use `word` to make it a tag.
  code {
    background: $ycsorange;
    color: white;
    border: none; // 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
  }

  // Use ```paragraph``` to make it a notice, used for rules.
  pre {
    code {
      font-family: $fontText;
      font-size: 17px;
    }
  }

  em {
    // font-family: $fontTitle1;
    font-weight: bolder;
    font-style: normal;
  }

  a {
    @include transition(100ms);
    border-bottom: 2px solid rgba(0,124,200,0.2);
    color: #08c;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid #08c;
    }
  }
}

section > header mark {
  display: none;
}

.markdown-body {
  @include markdown-body();
  font-size: 16px;
}
