---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  "base"
;

body > header {
  .title-wrapper {
    h1 {
      font-size: 50px;
    }
  }
}

.playbook-intro {
  background: $ycsorange;
  color: white;
  // font-size: 20px;
  h1 {
    font-size: 25px;
  }

  p {
    font-weight: 300;
    width: 1000px;
    font-size: 20px;
    line-height: 1.8;
  }
  *, h1, h2, h3, h4, h5, h6, p { color: white }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    border-bottom: 2px solid #FFF;
  }
}

.section-header {
  background-color: #EEE;

  h1 {
    font-size: 25px;
    font-family: 'Space Mono', 'Roboto Mono', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
  }

  a {
    color: #222;
    text-decoration: none;
  }
}

.section-page:nth-child(2n) {
  background-color: #F7F7F7;
}

.table-contents {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;

  .header-item {
    font-size: 1.1em;
  }

  .header-item, ul li {
    color: #444;
    margin-bottom: 1em;
    font-weight: 500;
  }

  ul {
    margin-bottom: 2em;
    a {
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }
    a:hover {
      border-bottom: 2px solid #444;
    }
  }

}

.section-page,
.table-contents {
  & > header {
    font-family: 'Space Mono', monospace;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 35px;
    a {
      color: #222;
    }
    mark {
      margin-left: -35px;
      padding-right: 5px;
    }
  }
}

.section-page {
  border: none;

  .markdown-body {
    max-width: 800px;

    p, li {
      font-size: 16px;
      margin-bottom: 20px;
    }

    p, blockquote, ul, ol, dl, table, pre {
      font-weight: 400;
      line-height: 2;
      margin-top: 0;
      margin-bottom: 1.4em;
      color: #222;
    }
    li > p {
      margin-bottom: 1em;
    }
    ul {
      margin-bottom: 2em;
    }
    p + ul {
      margin-top: -1em;
    }
    strong {
      background-color: #a3daff;
      font-weight: 400;
      padding: 0 2px;
    }

    strong a, a strong {
      background-color: #FDD692;
      font-weight: 700;
      color: #08c;
      border-bottom: 2px solid #888;
      text-decoration: none;
    }
    // *, h1, h2, h3, h4, h5, h6, p { color: #444 }

    a {
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }
    a:visited strong, a:visited {
      color: #08c;
    }
    a:hover {
      border-bottom: 2px solid #08c;
      // border-bottom-style: solid;
    }
  }
}

.markdown-body {
  font-family: 'Helvetica Nesue', 'Roboto', monospace; // -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 2;
  word-wrap: break-word;

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0
  }
  blockquote {
    padding: 1em;
    font-style: normal;
    // font-family: 'Helvetica Neue';
    color: #AAA;
    letter-spacing: 0;
    border-left: 0.25em solid #dfe2e5;

    background: #EEE;
    &>:first-child {
      margin-top: 0
    }
    &>:last-child {
      margin-bottom: 0
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;

    .octicon-link, .anchor {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;

      .octicon-link {
        visibility: visible;
      }

      tt, code {
        font-size: inherit;
      }
    }
  }

  h1 {
    padding-bottom: 0.3em;
    font-size: 1.7em;
    border-bottom: 1px solid #eaecef
  }
  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    line-height: 2em;
    // border-bottom: 1px solid #eaecef
  }
  h3 {
    font-size: 1.25em
  }
  h4 {
    font-size: 1.1em
  }
  h5 {
    font-size: 1em;
    font-weight: 900;
  }
  h6 {
    font-size: 0.85em;
    color: #6a737d
  }
  ul, ol {
    padding-left: 2em;
    &.no-list {
      padding: 0;
      list-style-type: none
    }
  }
  li>p {
    margin-top: 16px
  }
  li+li {
    margin-top: 0.25em
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5
  }

  &>*:first-child {
    margin-top: 0 !important
  }
  &>*:last-child {
    margin-bottom: 0 !important
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none
  }
  .absent {
    color: #cb2431
  }
  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;

    &:focus {
      outline: none;
    }
  }

  dl {
    padding: 0
  }
  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
  }
  dl dd {
    padding: 0 16px;
    margin-bottom: 16px
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;

    th {
      font-weight: 600
    }
    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1
    }
    tr:nth-child(2n) {
      background-color: #f6f8fa
    }
  }
  img {
    background-color: transparent;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;

    &[align=right] {
      padding-left: 20px
    }
    &[align=left] {
      padding-right: 20px
    }
  }
  .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
  }
  span.frame {
    display: block;
    overflow: hidden;

    &>span {
      display: block;
      float: left;
      width: auto;
      padding: 7px;
      margin: 13px 0 0;
      overflow: hidden;
      border: 1px solid #dfe2e5
    }
    span img {
      display: block;
      float: left
    }
    span span {
      display: block;
      padding: 5px 0 0;
      clear: both;
      color: #24292e
    }
    span.align-center {
      display: block;
      overflow: hidden;
      clear: both
    }
  }
  span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
  }
  span.align-center span img {
    margin: 0 auto;
    text-align: center
  }
  span.align-right {
    display: block;
    overflow: hidden;
    clear: both
  }
  span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
  }
  span.align-right span img {
    margin: 0;
    text-align: right
  }
  span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
  }
  span.float-left span {
    margin: 13px 0 0
  }
  span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
  }
  span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
  }
  code,
  tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px
  }
  code::before,
  code::after,
  tt::before,
  tt::after {
    letter-spacing: -0.2em;
    content: "\00a0"
  }
  code br,
  tt br {
    display: none
  }
  del code {
    text-decoration: inherit
  }
  pre {
    word-wrap: normal
  }
  pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
  }
  .highlight {
    margin-bottom: 16px
  }
  .highlight pre {
    margin-bottom: 0;
    word-break: normal
  }
  .highlight pre,
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px
  }
  pre code,
  pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
  }
  &::before,
  &::after {
    content: normal
  }
  .csv-data td,
  .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap
  }
  .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #fff;
    border: 0
  }
  .csv-data tr {
    border-top: 0
  }
  .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0
  }
}
