---
custom_css:
- alumni
---
<!DOCTYPE html>
<html>

{% include head.html %}

<script src="http://localhost:35729/livereload.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono:300,400|Space+Mono:400,700" rel="stylesheet">

<body class="alumni-page">

<div class="Notice ">
<div class="content">
	<a href="/"><strong>Yale Computer Society:</strong> Promoting tech &amp; etrepreneurship at Yale. <strong>Back to main website.</strong></a>
</div>
</div>

<header>
	<h1><strong>Alumni</strong> of YCS</h1>
	<h2>Students who were members and advisors of YCS for at least one semester</h2>
</header>

<section id="alumni">
{% for section in site.data.alumni %}
	<header>
		<h1>{{ section.label }}</h1>
	</header>

	<div>
	<ul class="AlumniList">
	{% for member in section.members %}
		<div class="member">
			<div class="picture">
				<img src="{{ member.picture }}" />
			</div>
			<div class="info">
				<h1>{{ member.name }}</h1>
        <h2>{{ member.blurb }}</h2>
        <h3>{{ member.description }}</h3>
			</div>
		</div>
	{% endfor %}
	</ul>
	</div>
{% endfor %}
</section>

{% include footer.html %}

</body>
</html>
