---
custom_css:
- alumni
---
<!DOCTYPE html>
<html>

{% include head.html %}

<script src="http://localhost:35729/livereload.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono:300,400|Space+Mono:400,700" rel="stylesheet">

<body class="alumni-page">

<div class="notice ">
<div class="content">
	<a href="/"><strong>Yale Computer Society:</strong> Promoting tech &amp; etrepreneurship at Yale. <strong>Back to main website.</strong></a>
</div>
</div>

<header class="alumni">
	<h1><strong>Alumni</strong> of YCS</h1>
	<h2>Students who were members and advisors of YCS for at least one semester</h2>
</header>

<section id="members">
	<header>
		<h1><a href="#members"><mark></mark>Board Fall 2016</a></h1>
		<h2></h2>
	</header>	
	<ul class="people alumni" id="alumni">
		{% for _member in site.data.alumni %} {% assign member = _member[1] %}
		<div class="member" onClick="openMember('{{ _member[0] }}')">
			<div class="picture">
				<img src="{{ member.picture }}" />
			</div>
			<div class="info">
				<h1>{{ member.name }}</h1>
        <h2>{{ member.blurb }}</h2>
			</div>
		</div>
		{% endfor %}
	</ul>
</section>

{% include footer.html %}

</body>
</html>
