---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<script src="http://localhost:35729/livereload.js"></script>

<body>

<div class="Notice">
<div class="content">
	<div class="MailchimpForm" id="mc_embed_signup">
		<!-- Begin MailChimp Signup Form -->
		<form action="//yalecompsociety.us14.list-manage.com/subscribe/post?u=842f70190aeaa348007d7ccfb&amp;id=954e9ebd0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div aria-hidden="true" class="hidden" style="position: absolute; left: -5000px;">
				<input type="text" name="b_842f70190aeaa348007d7ccfb_954e9ebd0c" tabindex="-1" value="">
			</div>

			<p>
				<input type="email" value="" name="EMAIL" class="required email" placeholder="Email" id="mce-EMAIL">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" href="javascript:showMLInstructions()" class="button"></input>
				<span class="and">
					to learn more about <strong>events</strong> and <strong>opportunities</strong>.
				</span>
			</p>

			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
		</form>
		<!-- End MailChimp Signup Form -->
	</div>
</div>
</div>
<header>
	<h1>
		<a href="{{ site.baseurl }}/" id="ytitle">
			Yale<br /> Computer<br />Society
		</a>
		<span class="cursor"></span>
	</h1>
	<h2>
		Students promoting tech &amp; entrepreneurship at Yale University
	</h2>
</header>

<section class="Notice news">
<div class="content">
	<strong>Looking for ways to reach Yale students?</strong> <a href="/partnerships">Learn how we can help.</a>
</div>
</section>

<section class="Notice ">
	<div class="content">
		<a href="/playbook">
			<strong>Our playbook is online.</strong> Read to learn more about how we work.
		</a>
	</div>
</section>

<section id="projects">
	<header>
		<h1><a href="#projects"><mark></mark>Projects</a></h1>
		<h2>Here are some things we are working on. <a href="mailto:felipe.pires@write-university-here.edu">Pitch us an idea.</a></h2>
	</header>

	<ul class="ProjectList">

		<div class="ProjectList_Careers">
				<div class="figure">
					<span>🎓</span>
				</div>

			<div class="info">
				<h1>Careers</h1>
				<h2>Bridging the gap between New Haven and Silicon Valley.</h2>
			</div>
		</div>

		<div class="ProjectList_Talks">
				<div class="figure">
					<span>:D ;) :D</span>
				</div>

			<div class="info">
				<h1>Talks</h1>
				<h2>Inspiring students to pursue a career in technology.</h2>
			</div>
		</div>

		<div class="ProjectList_Hacknights">
				<div class="figure">
					<span><strong>H/N</strong></span>
				</div>

			<div class="info">
				<h1>Hacknights</h1>
				<h2>A space for Yalies to collaborate on psets and work on side-projects.</h2>
			</div>
		</div>

		<div class="ProjectList_Workshops">
				<div class="figure">
					<span>
					{% highlight html %}
<div class="ProjectList_Workshops">
 <div class="info">
  <h1>Workshops</h1>
  <h2>Teaching students about current topics in Computer Science.</h2>
 </div>
</div>
					{% endhighlight %}
					</span>
				</div>

			<div class="info">
				<h1>Workshops</h1>
				<h2>Changing the community, one side-project at a time.</h2>
			</div>
		</div>

		<div class="ProjectList_TechSnaps">
				<div class="figure">
					<span>".*"</span>
				</div>

			<div class="info">
				<h1>Tech Snaps</h1>
				<h2>Lorem ipsum dolor sit amet. Consectetur adipiscing elit sed diam nonummy nibh.</h2>
			</div>
		</div>

		<div class="ProjectList_Survey">
				<div class="figure">
					<span>¿?¿?</span>
				</div>

			<div class="info">
				<h1>Survey</h1>
				<h2>Lorem ipsum dolor sit amet. Consectetur adipiscing elit sed diam nonummy nibh.</h2>
			</div>
		</div>

		<div class="ProjectList_Newsletter">
				<div class="figure">
					<span>EXTRA</span>
				</div>

			<div class="info">
				<h1>Newsletter</h1>
				<h2>The best source of opportunities to Yale students interested in technology.</h2>
			</div>
		</div>

		<div class="ProjectList_Prize">
				<div class="figure">
					<span><strong>$$PRIZE$$</strong></span>
				</div>

			<div class="info">
				<h1>YCS Prize <small>(spring semester)</small></h1>
				<h2>A semester-long competition for coolest software project. Let the best coders win.</h2>
			</div>
		</div>

		<div class="ProjectList_Gala">
				<div class="figure">
					<span>
						🥂🎩👗🌚💰👘🍸👄🏆🗣🕺<br />
						👠🍸🌚🥂🍾👔🏆🎉👘💰👠<br />
						🍸👄🗣🕺👠🍸🌚🥂👗🌚💰<br />
						👔🏆🎉👘💰👠🍸🌚🥂🍾👔
					</span>
				</div>

			<div class="info">
				<h1>Tech Gala <small>(spring semester)</small></h1>
				<h2>An end-of-year party to celebrate the accomplishments of our community.</h2>
			</div>
		</div>
	</ul>
</section>

<section id="members">
	<header>
		<h1><a href="#members"><mark></mark>Members for fall 2017</a></h1>
		<h2>We are a diverse and inspired group of students working hard to improve our community</h2>
	</header>

	<ul class="PeopleList" id="staff-list">
		{% for member in site.data.members %}
		<div class="member">
			<div class="picture">
				<img src="{{ member.picture }}" />
			</div>
			<div class="info">
				<h1>{{ member.name }}</h1>
        <h2>{{ member.blurb }}</h2>
			</div>
		</div>
		{% endfor %}
	</ul>
</section>

<section class="Notice info">
<div class="content">
	<a href="/alumni"><strong>See our alumni,</strong></a> the past generations of students who helped shape our society.
</div>
</section>


<section id="events">
	<header>
		<h1><a href="#events"><mark></mark>Events</a></h1>
		<h2>Events for the 2016-2017 year.</h2>
	</header>

  <ul class="events">
	{% for year in site.data.events %}
		<div class="year">
			{{ year.year }}
		</div>

		{% for month in year.months %}
			<div class="month">
				{{ month.month }}
			</div>

			{% for event in month.events %}
			<div class="event">
				<div class="image">
					<img src="{{ site.baseurl }}{{ event.thumbnail_url }}" />
				</div>
				<div class="content">
					<h1>
	          {{ event.name }}
					</h1>
					<h2>
						{{ event.description }}
					</h2>
	        <h3>{{ event.time }} {{ event.location }}</h3>
				</div>
			</div>
			{% endfor %}

		{% endfor %}

	{% endfor %}
</section>

<!--
<section class="Notice abc">
<div class="content">
	<a href="#">Dec 12th 6-9pm at CEID: <strong>YCS study break for finals.</strong> See on Facebook.</a>
</div>
</section>
-->

<!--
<section id="sponsors">
	<header>
		<h1><a href="#sponsors"><mark></mark>Sponsors</a></h1>
	</header>

	<ul class="sponsors">
		<div class="sponsor facebook">
			<img src="{{ site.baseurl }}/images/facebook.png" />
		</div>
	</ul>
</section>
-->


<section class="Notice news left">
<div class="content">
	<strong>Join our weekly lunches.</strong> Fridays 1pm at Hopper Dining Hall.
</div>
</section>

<footer>
<div class="col-md-8 col-xs-12">
	<p class="bio">
		The Yale Computer Society is a undergraduate organization dedicated to improving the tech and entrepreneurial community at Yale.
	</p>
	<p>
		Email <strong>felipe.pires@y[guess the rest].edu</strong> with questions or suggestions.
	</p>
</div>

<div class="col-md-4 col-xs-12" style="text-align: right">
	<p>
		Copyright 2017. All rights reserved.
	</p>
	<p>
		Website designed by Felipe Pires.
	</p>
</div>
</footer>

<script>
$.fn.shuffleChildren = function() {
  $.each(this.get(), function(index, el) {
    var $el = $(el);
    var $find = $el.children();

    $find.sort(function() {
        return 0.5 - Math.random();
    });

    $el.empty();
    $find.appendTo($el);
  });
};

$("#staff-list.shuffle").shuffleChildren();

</script>

</body>
</html>
