---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<script src="http://localhost:35729/livereload.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono:300,400|Space+Mono:400,700" rel="stylesheet">

<body>

<div class="notice news">
	<div class="content">
    <a href="https://www.facebook.com/events/1786527998258003/"><strong>Tom Lehman '06, CEO & Co-founder of Genius, will be chatting with us on Friday</strong> Join the Facebook event.
	</div>
</div>

<!--
<div class="notice">
<div class="content">
	<a href="#"><strong>Join the Yale Computer Society this fall.</strong> Click to learn how.</a>
</div>
</div>
-->

<div class="notice green">
<div class="content">
	<a href="http://yhack.org"><strong>Registration for YHack is now open!</strong> Submit your application.</a>
</div>
</div>

<!-- 
<div class="notice info">
<div class="content">
	<a href="#"><strong>Bill Gates to talk at Yale!</strong> Click to learn more.</a>
</div>
</div>

<div class="notice deadline">
<div class="content">
	<a href="#"><strong>Registration for YHack closing soon!</strong> Apply before Sept 23rd.</a>
</div>
</div> -->

<header>
	<div class="title-wrapper">
		<h1><a href="{{ site.baseurl }}/" id="ytitle">Yale<br /> Computer<br />Society</a><span class="cursor"></span></h1>
		<h2>Students promoting computer science and engineering at Yale University</h2>
		<p>
			<a href="javascript:showMLInstructions()" class="btn join-ml">Join our Mailing List</a> to get updates about events and opportunities.
		</p>
	</div>
</header>


<section class="notice info">
<div class="content">
	<a href="javascript:showMLInstructions()"><strong>Join the Yale Computer Society this fall.</strong> Click to learn how.</a>
</div>
</section>
<!-- 
<section class="notice info">
<div class="content">
	<a href="#"><strong>Bill Gates to talk at Yale!</strong> Click to learn more.</a>
</div>
</section>

<section class="notice news">
	<div class="content">
		<a href="#"><strong>Registration for YHack are now open!</strong> Submit your application.</a>

	</div>
</section>

<section class="notice deadline">
<div class="content">
	<a href="#"><strong>Registration for YHack closing soon!</strong> Apply before Sept 23rd.</a>
</div>
</section> -->

<section id="events">
	<header>
		<h1><a href="#events"><mark></mark>Events</a></h1>
		<h2>Scheduled talks and workshops for 2016.</h2>
	</header>

	<ul class="events">
		<div class="date">
			<h1>September</h1>
		</div>
		<div class="event">
			<div class="image">
				<img src="{{ site.baseurl }}/images/tom.png" />
			</div>
			<div class="content">
				<h1>
					<strong>Tom Lehman</strong>, Y '06
				</h1>
				<h2>
					CEO &amp; Co-founder of <strong>Genius</strong>, formerly Rap Genius, the world’s biggest collection of song lyrics and crowdsourced musical knowledge.
				</h2>
				<h3>Friday, <strong>September 30th</strong>. <strong>7pm to 8:15pm</strong>. At Sudler Hall.</h3>
			</div>
		</div>
  </ul>

<section>
  <header>
  <h1>Past events</h1>
  </header>

  <ul class="events">
		<div class="event">
			<div class="image">
				<img src="{{ site.baseurl }}/images/abhi.png" />
			</div>
			<div class="content">
				<h1>
					<strong>Abhishek Chandra</strong>, Y '16
				</h1>
				<h2>
					CTO of <strong>Spring.Care</strong>, a healthcare company using data-driven technology to diagnose depression.
				</h2>
				<h3>Friday, <strong>September 9th</strong>. <strong>4:30pm to 6pm</strong>. At CEID.</h3>
			</div>
		</div>
	</ul>
</section>
</section>


<section class="notice news left">
<div class="content">
	<strong>Attend our weekly dinners.</strong> Wednesdays 6.45pm at Siliman Dining Hall.
</div>
</section>

<section id="projects">
	<header>
		<h1><a href="#projects"><mark></mark>Projects</a></h1>
		<h2>Here are some projects we've incubated in the past. <a href="#">Pitch us an idea.</a></h2>
	</header>

	<ul class="projects">
		<div class="project clubs">
			<a href="http://clubsatyale.org">
				<div class="figure">
					<span><strong>Clubs</strong></span>
				</div>
			</a>

			<div class="info">
				<h1>Clubs at Yale</h1>
				<h2>A directory of extracurricular clubs for Yale students</h2>
			</div>
		</div>

		<div class="project bdgate">
			<a href="http://github.com/ygom/bdgate">
				<div class="figure">
					<span><strong>BDGate</strong></span>
				</div>
			</a>

			<div class="info">
				<h1>Bulldog Gate <small>(offline)</small></h1>
				<h2>Shorten URLs so that only Yale students and staff can open them</h2>
			</div>
		</div>

		<div class="project makers">
			<a href="http://makersatyale.com">
				<div class="figure">
					<span><strong>Makers</strong>@Y</span>
				</div>
			</a>

			<div class="info">
				<h1>Makers at Yale</h1>
				<h2>A directory of programmers &amp; designers at Yale</h2>
			</div>
		</div>

		<div class="project pokemap">
			<a href="http://github.com/">
				<div class="figure">
					<img src="{{ site.baseurl }}/images/pm.png" />
				</div>
			</a>

			<div class="info">
				<h1>PokéMap <small>(incubated)</small></h1>
				<h2>Crowdsourced map for Pokemon Go</h2>
			</div>
		</div>
	</ul>
</section>

<section id="members">
	<header>
		<h1><a href="#members"><mark></mark>Members of YCS</a></h1>
	</header>

  <!--
	<section id="devs">
		<header>
			<h1>Resident Developers</h1>
      <h2>Associate developers create awesome projects incubated at YCS. <a href="javascript:showMLInstructions()">Become one.</a></h2>
		</header>

		<ul class="people">
			{% for _member in site.data.developers %} {% assign member = _member[1] %}
			<div class="member" onClick="openMember('{{ _member[0] }}')">
				<div class="picture">
					<img src="{{ member.picture }}" />
				</div>
				<div class="info">
					<h1>{{ member.name }}</h1>
					<h2>{{ member.blurb }}</h2>
				</div>
			</div>
			{% endfor %}
		</ul>
	</section>
  -->

  <!--
	<section id="staff">
		<header>
			<h1><a href="#staff">Staff Members</a></h1>
			<h2>Staff members bring talks to Yale and hold our workshops. <a href="#">Join us.</a></h2>
		</header>

		<ul class="people">
			{% for _member in site.data.staff %} {% assign member = _member[1] %}
			<div class="member" onClick="openMember('{{ _member[0] }}')">
				<div class="picture">
					<img src="{{ member.picture }}" />
				</div>
				<div class="info">
					<h1>{{ member.name }}</h1>
					<h2>{{ member.blurb }}</h2>
				</div>
			</div>
			{% endfor %}
		</ul>
	</section>
  -->

	<section id="staff">
		<header>
			<h1>Staff Members</h1>
      <h2>Staff members bring talks to Yale and make our events come true. <a href="javascript:showMLInstructions()">Join us.</a></h2>
		</header>

		<ul class="people">
			{% for _member in site.data.directors %} {% assign member = _member[1] %}
			<div class="member" onClick="openMember('{{ _member[0] }}')">
				<div class="picture">
					<img src="{{ member.picture }}" />
				</div>
				<div class="info">
					<h1>{{ member.name }}</h1>
          <h2>{{ member.blurb }}</h2>
				</div>
			</div>
			{% endfor %}
			{% for _member in site.data.staff %} {% assign member = _member[1] %}
			<div class="member" onClick="openMember('{{ _member[0] }}')">
				<div class="picture">
					<img src="{{ member.picture }}" />
				</div>
				<div class="info">
					<h1>{{ member.name }}</h1>
					<h2>{{ member.blurb }}</h2>
				</div>
			</div>
			{% endfor %}

			{% for _member in site.data.developersasdf %} {% assign member = _member[1] %}
			<div class="member" onClick="openMember('{{ _member[0] }}')">
				<div class="picture">
					<img src="{{ member.picture }}" />
				</div>
				<div class="info">
					<h1>{{ member.name }}</h1>
					<h2>{{ member.blurb }}</h2>
				</div>
			</div>
			{% endfor %}
		</ul>
	</section>
</section>

<!--
<section class="notice abc">
<div class="content">
	<a href="#">Dec 12th 6-9pm at CEID: <strong>YCS study break for finals.</strong> See on Facebook.</a>
</div>
</section>
-->

<!--
<section id="sponsors">
	<header>
		<h1><a href="#sponsors"><mark></mark>Sponsors</a></h1>
	</header>

	<ul class="sponsors">
		<div class="sponsor facebook">
			<img src="{{ site.baseurl }}/images/facebook.png" />
		</div>
	</ul>
</section>
-->

<footer>
<div class="col-md-8 col-xs-12">
	<p class="bio">
		The YCS is a undergraduate organization that promotes talks, workshops and study breaks related to computer science and engineering on Yale campus.
	</p>
</div>

<div class="col-md-4 col-xs-12" style="text-align: right">
	Copyright 2016. All rights reserved.
</div>
</footer>

<script>
$(function(){
	var text = "Yale,Computer,Society";
	var i = 0;
	// $("#ytitle").html("");
	// (function next() {
	// 	var t = Math.random()*100+50, c = text[i];
	// 	if (c == ",") {
	// 		c = "<br />";
	// 		t = 300;
	// 	};
	// 	console.log("next", c, i)
	// 	$("#ytitle").html($("#ytitle").html()+c);
	// 	i++;
	// 	if (text.length > i) {
	// 		setTimeout(next, t);
	// 	}
	// })();
});
</script>

<div class="page-popover" id="ml-popover">
<div class="container">
  <div class="close-btn" onClick="closePopover()"></div>
    
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <h1>Join the Mailing List</h1>
      <!--
      <p>
        By joining our list you will receive emails about
        <ul>
          <li>upcoming <strong><abbr title="CS/EE/MecEng">maker events</abbr> on campus</strong></li>
          <li>groups on campus organizing to <strong>attend hackathons</strong></li>
          <li>curated emails with <strong>opportunities to work on software and hardware projects</strong></li>
          <li>dinners and events for the community</li>
        </ul>
      </p>
      <h2>How to Join</h2>
      -->
      <p>
        Go to our Groups page at <a href="https://groups.google.com/a/elilists.yale.edu/forum/#!forum/ycs">groups.google.com/a/elilists.yale.edu/forum/#!forum/ycs</a> and <strong>click "Apply to join group"</strong>. <em>You must be logged in with your Yale account to access the website.</em>
      </p>
      <p>
        If you have trouble doing that, <strong>email felipe.pires@[y].edu</strong> and ask for help.
      </p>
      <br />
      <h2>Join YCS</h2>
      <p>
      	If you are interested in the work we do and would like to help us do more, <strong>you should consider joining our team</strong>. You can either:

      	<ul>
      	<li>come to our weekly dinners (Siliman dining hall, Wednesdays at 6.30pm) and see what we're up to, or</li><li>send a message to <a href="https://www.facebook.com/felipap">Felipe Pires</a> saying you're interested in helping out.</li>
      	</ul>
      </p>
      <p>
      Looking forward to hearing from you soon.
      </p>
    </div>
  </div>
</div>
</div>

<script>

var _pastScrolled;

function showMLInstructions() {
  $("#ml-popover").fadeIn('slow');
  $("section").fadeOut('slow');
  _pastScrolled = $("body").scrollTop();
}

function closePopover() {
  $("section").show();
  $('#ml-popover').fadeOut();
  $("body").scrollTop(_pastScrolled);
}

</script>

</body>
</html>
