---
custom_css:
- partnerships
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<script src="http://localhost:35729/livereload.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono:300,400|Space+Mono:400,700" rel="stylesheet">
<body>



<div class="Notice">
<div class="content">
	<a href="/"><strong>Yale Computer Society:</strong> Promoting tech &amp; entrepreneurship at Yale. <em>Back to main website.</em></a>
</div>
</div>

<header>
	<h1><a href="{{ site.baseurl }}/partnerships" id="ytitle"><strong>YCS</strong> Jobs &amp; Internships </a><span class="cursor"></span></h1>
	<h2>Connecting Yale CS Students to exciting opportunities!</h2>
</header>

<section class="PartnershipsIntro borderless" id="intro">
	<p>
	<strong> Internships. Research. Jobs. Paid Gigs. </strong>
	</p>
	<p>
		An exciting list of available opportunities for Yale Computer Science students. If you would like to post on this page, please submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxFU48hYZjVInw-n-XY5ACQDt5ijkWWoXwlR53f7TXIWYpOA/viewform?usp=sf_link" >this Google form. </a>
	</p>
	<p>
		Happy exploring!
	 </p>
</section>



	{% for section in site.data.partnerships.sections %}
	<section class="PartnershipsSectionHeader">
		<h1><a href="#{{section.anchor}}" id="#{{section.anchor}}">{{section.title}}</a></h1>
	</section>

	{% assign parentIndex = forloop.index %}

	{% for page in section.children %}
	<section class="PartnershipsPage borderless">
		<header>
			<a href="#{{page.file}}" id="{{page.file}}"><mark></mark> {{page.title}}</a>
		</header>
		<div class="body markdown-body">
			{% capture my_include %}{% include {{ page.file }} %}{% endcapture %}
			{{ my_include | markdownify }}
		</div>
	</section>
	{% endfor %}
	{% endfor %}







<footer>
<div class="col-md-8 col-xs-12">
	<p class="bio">
		The YCS is a undergraduate organization that promotes talks, workshops and study breaks related to computer science and engineering on Yale campus.
	</p>
	<p>
		Email <strong>huishen.lu@yale.edu</strong> with questions or suggestions.
	</p>
</div>

<div class="col-md-4 col-xs-12" style="text-align: right">
	Copyright 2017. All rights reserved.
</div>
</footer>



</body>
</html>
