<footer>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>
        Makers at Yale is a directory of Yale students interested in creating
        design, programming and hardware projects.
      </p>
      <p>
        <small>Updated August 2016.</small>
      </p>
      
    </div>
    
    <div class="col-md-6 col-xs-12">
      <p>A <a href="http://makersatyale.com">Makers At Yale</a> initiative by Melina, Yuxuan and Zeb</p>
    </div>
  </div>
</div>
</footer>
