@import "variables", "support", "reset", "notice";

.button {
  // quick reset
  &:active {
    box-shadow: none;
  }
  background: transparent;
  box-shadow: none !important;
  cursor: pointer;
  outline: none !important;
  // actual look
  @include transition(.4s);
  color: #444;
  border-radius: 0;
  border: 3px solid #EEE;
  font-family: 'Roboto';
  font-size: 0.95em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2.7em;
  margin-right: 6px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;

  &:focus,
  &:hover {
    border-color: #a3daff;
  }

  &.white {
    border-color: white;

    &:hover {
      color: white;
    }

    &:focus,
    &:hover {
      border-color: white;
    }
  }
}

.MailchimpForm {
  font-size: 18px;

  .and {
    display: inline-block;
    line-height: 2.7em;
  }

  input.email {
    @include transition(.4s);
    background: white;
    border: 3px solid #EEE;
    box-shadow: none !important;
    line-height: 2.7em;
    font-family: 'Roboto';
    font-size: 0.95em;
    font-weight: bold;
    outline: none !important;
    padding: 0 0.9em;
    vertical-align: middle;
    width: 200px;
    z-index: 10;

    &:focus {
      border-color: #DDD;
    }
  }
}

body > header {
  position: relative;
  padding: 70px 60px;
  font-family: 'Roboto';
  font-size: 25px;

  & > h1:last-child,
  & > h2:last-child,
  & > h3:last-child {
    margin-bottom: 0;
  }
}

body > section {
  padding: 70px 60px 60px;
  border-top: 3px solid #EEE;
  font-size: 15px;

  footer {
    margin-top: 40px;
  }

  footer,
  header {
    color: #666;
    padding: 0;
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 14px;

    a {
      text-decoration: none !important;
      color: #000;
      border-bottom: 2px solid transparent;
      @include transition(100ms);

      &:hover {
        border-bottom: 2px solid #EEE;
      }

      &:visited {
        color: #000;
      }
    }

    h1 {
      font-size: 1.5em;
      color: #333;
      font-weight: bold;
    }

    h2 {
      font-weight: 300;
      line-height: 1.7;
      font-size: 1.2em;
      color: #666;
      margin-top: 1em;
    }

    mark {
      background: transparent;
      padding-right: 15px;
      margin-left: -45px;

      &:before {
        @include transition(.2s);
        content: '#';
        color: #BBB;

        &:hover {
          color: #AAA;
        }
      }
    }

    h1:hover mark:before {
      color: #AAA;
    }
  }

  & > section {
    padding: 0.1px;

    header h1 {
      color: #444;
      font-size: 1.4em;
    }

    header h2 {
      font-size: 1.1em;
      font-weight: 300;
    }
  }

  & > section:not(:last-of-type) {
    margin-bottom: 4em;
  }

  & > section:first-of-type {
    margin-top: 2.5em;
  }

  & > p {
    font-size: 1.2em;
    margin-top: 10px;
    font-family: 'Roboto';
  }

  .info {
    padding-top: 10px;
    text-align: left;
    font: 400 14px 'Roboto Mono';

    & > div {
      margin-bottom: 5px;
    }

    h1 {
      font-size: 1em;
      margin-bottom: 0.5em;
      color: #111;

      small {
        font-size: inherit;
        opacity: 0.4;
      }
    }

    h2 {
      margin-bottom: 0.5em;
      font-size: 0.9em;
      font-weight: 300;
      color: #666;
      line-height: 1.5;
    }

    p {
      font-size: 0.9em;
      font-family: 'Roboto';
      font-weight: 300;
      color: #888;
      line-height: 1.5;
    }
  }
}

body > section.borderless:not(.hidden) {
  border-top: 0;
}

body > header.borderless + section,
body > section.borderless:not(.hidden) + footer,
body > section.borderless:not(.hidden) + section {
  border-top: 0;
}

body > footer {
  display: table;
  width: 100%;
  padding: 60px 40px;
  font-family: Roboto;
  font-size: 13px;
  border-top: 3px solid #EEE;
  font-family: 'Space Mono';

  .bio {
    color: #444;
    line-height: 1.8;
  }
}

// Set margins for small screens.
@media screen and (max-width: $on-laptop) {
  body > section {
    & > header mark {
      margin-left: 0;
    }
  }

  body > footer {
    padding: $device-spacing $device-spacing*2/3;
  }

  body > header {
    font-size: 16px !important;
  }

  body > section,
  body > header {
    padding: $device-spacing $device-spacing*2/3;

    & > header {
      font-size: 12px;
    }
  }

  body > section > section > ul,
  body > section > ul {
    margin-left: 0;
  }

  body > section > section {
    margin-left: 10px;
  }
}
