// Default variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%); // Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
//

$font-section-header: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-paragraph: Helvetica, Arial, sans-serif;
$font-section: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-footer: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-notice: Helvetica, Arial, sans-serif;
$font-events: Helvetica, Arial, sans-serif;
$font-events-header: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-mailchimp: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-header: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-button: "Helvetica Neue", Helvetica, Arial, sans-serif;

//
$ycsorange: #ff7a6f;
$blue: #4b8bcc; // #426bba;
$color-tag: #F3753A; // #4A9BFF;

$PeopleList_picdim: 130px;
$AlumniList_picdim: 150px;
$Events_picdim: 130px;

$device-spacing: 30px;
// $laptop-spacing: 30px;
$logoFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
