body {
  margin: 0;
  padding: 0;
  background-color: #1f232b;
}

.App {
  text-align: center;
}

.product-container {
  padding: 10vh 15vh 0 15vh;
  background: #1F232B;
  color: white;
}

.card-grid {
  display: grid;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
}

.product-grid {
  display: grid;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
}

.card {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  border-radius: 25px;
  margin: 60px 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #323844;
}

.project-card-no-link {
  border-radius: 25px;
  margin: 60px 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #323844;
}

.project-card:hover {
  box-shadow: 0 3px 10px rgba(0 0 0 / 0.2);
  transform: scale(1.1);
  transition: 0.2s;
}

@media only screen and (max-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-container {
    padding: 10vh;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-container {
    padding: 10vh 5vh 0 5vh;
  }
}

@media only screen and (max-width: 400px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-container {
    padding: 10vh 0;
  }
}
