.first-section {
    background: linear-gradient(290deg, #1F232C, #1F232C 50%, white 50%, white);;
}

.third-section {
    background: linear-gradient(250deg, #1F232C, #1F232C 50%, white 50%, white);;
}

.section-image-container {
    width: 60%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.section-image {
    width: 80%;
    border-radius: 50px; 
}

.section-text-container {
    width: 40%; 
    display: flex; 
    height: 100%;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
}

.text-container {
    display: flex;
    height: 60%;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    width: 56%;
}

.visit-button {
    color: white; 
    width: fit-content; 
    border-radius: 50px; 
    padding: 20px 40px; 
    font-weight: 500;
    font-size: 24px; 
    margin-right: auto;
    cursor: pointer;
    transition: 0.2s;
}

.visit-button:hover {
    transform: scale(1.2);
}