@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #1F232C;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  position: relative;
  overflow: hidden;
  color: white;
  cursor: pointer;
  z-index: 20;
<<<<<<< HEAD
=======
  padding: 0.5rem;
>>>>>>> d4869af (Rewrite the entire codebase in nextjs with stricter eslint and typescript settings)
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px; 
  background-color: white;
  transform: scaleX(0); 
  transform-origin: bottom right; 
  transition: transform 0.3s ease-out; 
}

.nav-link:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left; 
<<<<<<< HEAD
}



.gradient-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  /* filter: blur(10px); */
  background: radial-gradient(circle, #FFcccc, #FF555B);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 3s forwards;
=======
>>>>>>> d4869af (Rewrite the entire codebase in nextjs with stricter eslint and typescript settings)
}