.header {
  position: fixed;
  width: 94%;
  height: 6%;
  background-color: white;
  top: 3%;
  left: 3%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

.pagesList {
  display: flex;
  height: 100%;
  justify-content: right;
  align-items: center;
  padding-right: 4vw;
  flex: 0 0 70%;
  gap: 5%;
}

.logo {
  display: flex;
  height: 100%;
  flex: 0 0 14%;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.logo:hover {
  transform: scale(1.2);
}

.header-link {
  padding: 0 10px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.header-link:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .pagesList {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }

  .logo {
    flex: 1 1 100%;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}
